POSTGRES_DB=fleksitask
POSTGRES_USER=fleksi
POSTGRES_PASSWORD=change-this-postgres-password
WEB_HOST=yourdomain.com
ADMIN_HOST=admin.yourdomain.com
API_HOST=api.yourdomain.com
WEB_VITE_API_BASE_URL=https://api.yourdomain.com
ADMIN_VITE_API_BASE_URL=https://api.yourdomain.com